APP_NAME="Paddock Lab Legacy"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://paddock-lab-legacy.test
LOG_CHANNEL=stderr
DB_CONNECTION=mysql_lab
MYSQL_HOST=127.0.0.1
MYSQL_PORT=13306
MYSQL_DATABASE=laravel
MYSQL_USERNAME=root
MYSQL_PASSWORD=
PGSQL_HOST=127.0.0.1
PGSQL_PORT=15432
PGSQL_DATABASE=laravel
PGSQL_USERNAME=postgres
PGSQL_PASSWORD=
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PORT=16379
MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=11025
MAIL_FROM_ADDRESS=legacy@paddock.test
MAIL_FROM_NAME="Paddock Lab Legacy"
MAILPIT_API=http://127.0.0.1:18025/api/v1
MAILPIT_UI=http://127.0.0.1:18025
MEILISEARCH_HOST=http://127.0.0.1:17700
TYPESENSE_API_KEY=xyz
TYPESENSE_HOST=127.0.0.1
TYPESENSE_PORT=18108
TYPESENSE_PROTOCOL=http
AWS_ACCESS_KEY_ID=lerd
AWS_SECRET_ACCESS_KEY=lerdpassword
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=paddock-lab-legacy
AWS_ENDPOINT=http://127.0.0.1:19000
AWS_USE_PATH_STYLE_ENDPOINT=true
RUSTFS_UI=http://127.0.0.1:19001/rustfs/console/
PADDOCK_LAB_NAMESPACE=paddock_lab_legacy
